<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add
		  name="myConnectionString"
		  connectionString="Data Source=sqlserverliam2.database.windows.net;Initial Catalog=govhackiag2;User Id=lb79;Password=Fishmarket1"		  
		  providerName="System.Data.SqlClient"
  />
	</connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
	
    </system.web>

<system.webServer>
	<directoryBrowse enabled="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

</configuration>
